* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    background: linear-gradient(to bottom, rgba(82, 155, 134, 1), rgba(33, 64, 55, 1));
    font-family: "Montserrat", serif;
    min-height: 100vh;
}
.wrapper {
    max-width: 1160px;
    margin: 0 auto;
    padding: 55px 0;
}
.header {
    width: 100%;
    min-height: 60px;
    position: relative;
}
.line {
    width: 100%;
    min-height: 60px;
    background-color: rgba(239, 244, 247, 1);
    position: relative;
    z-index: 2;
}
.red-block {
    width: 130px;
    height: 130px;
    background-color: rgba(188, 47, 87, 1);
    position: absolute;
    top: -35px;
    left: calc(50% - 65px);
    z-index: 1;
    
}
.letters {
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: rgba(245, 245, 245, 1);
    position: absolute;
    left: calc(50% - 48px);
    z-index: 1;
}

.content {
    width: 100%;
    background-color: rgba(217, 217, 217, 1);
    margin-top: 90px;
    position: relative;
    padding: 250px 50px 30px 50px;
    container-type: inline-size;
}
.title {
    color: rgba(33, 64, 55, 1);
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    right: 12%;
    left: 222px;
    top: 26px;
    position: absolute;
    z-index: 2;
    
}
.second-title {
    color: rgba(82, 155, 134, 1);
    font-weight: 700;
    font-size: 128px;
    line-height: 156px;
    right: 12%;
    left: 552px;
    top: 26px;
    position: absolute;
    text-transform: uppercase;
    z-index: 1;
}
.content-block {
    max-width: 1100px;
    background-color: rgba(245, 245, 245, 1);
    padding: 250px 30px 30px 30px;
    margin: 0 auto;
    position: relative;
    container-type: inline-size;
}
.author-block {
    background-color: rgba(188, 47, 87, 1);
    /* width: 490px; */
    width: max(250px, 49cqw);
    padding: 30px;
    text-align: center;
    position: absolute;
    top: -65px;
    left: calc(50% - max(250px, 49cqw) / 2);
}
.star-block {
    margin: 23px 0 13px 0;
}
.btn {
    color: #fff;
    text-decoration: none;
    width: 150px;
    height: 50px;
    border: 2px solid;
    display: inline-block;
    line-height: 50px;
}
.content-text {
    max-width: 650px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 10px;
}
.big-btn {
    display: inline-block;
    color: rgba(33, 64, 55, 1);
    font-weight: 700;
    width: 200px;
    height: 50px;
    border: 2px solid rgba(33, 64, 55, 1);
    line-height: 50px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
}